#card__img-1 {
    background-image: url('../assets/1.jpg');
}

#card__img-6{
    background-image: url('../assets/6.jpg');
}

#card__img-5{
    background-image: url('../assets/5.jpg');
}

#card__img-3 {
    background-image: url('../assets/3.jpg');
}

#card__img-4 {
    background-image: url('../assets/4.jpg');
}

#card__img-2{
    background-image: url('../assets/2.jpg');
}

#gamepad-img{
    background-image: url('../assets/hero-5.jpg');
    background-size: cover;
    height: 540px;
    width: 100%;
}

#card__img-7{
    background-image: url('../assets/7.jpg');
}

#card__img-8{
    background-image: url('../assets/8.jpg');
}

#card__img-9{
    background-image: url('../assets/9.jpg');
}

#card__img-10{
    background-image: url('../assets/10.jpg');
}

#card__img-11{
    background-image: url('../assets/11.jpg');
}

#card__img-12{
    background-image: url('../assets/12.jpg');
}